//CALC THE CONTAINER WIDTH AUTO BASED ON WINDOWS WIDTH
@mixin container-auto($width) {
  width: $width - $base-padding * 2;
}

//THEME BUTTON CONSTRUCTOR
@mixin theme-button($background-color, $width: 800) {
  background: none;
  cursor: pointer;
  outline: inherit;
  border: none;
  color: #fafafa;
  border-radius: 6px;
  padding: 0.9em 3.7em 0.7em 3.7em;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 1.25em;
  text-transform: uppercase;
  background-color: $background-color;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  &:hover {
    background-color: darken($background-color, 10%);
  }
  @if $width <= $tablet-width {
    display: block;
    vertical-align: middle;
    margin: 1.4em auto;
    width: 100%;
    max-width: 93%;
  }
}

//THIS MIXING SETUP THE BEHAVIOUR FOR EACH IMAGE TYPE
@mixin theme-img($type) {
  display: block;
  max-width: 100%;
  height: auto;
  @if $type == "frame" {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  } @else if($type == "logo") {
    display: inline-block;
    height: auto;
    vertical-align: middle;
  } @else {
    border-radius: 50%;
    vertical-align: middle;
  }
}

//THIS MIXING BUILD THE GRID COLUMNS
@mixin grid__col--x {
  @for $col from 1 through $columns {
    .grid__col--#{$col} {
      @if $col != 12 {
        flex-basis: (100 / ($grid_cols / $col)) - $gutter_percent * 1%;
      } @else {
        flex-basis: (100 / ($grid_cols / $col)) * 1%;
      }
      &.theme__colors {
        text-align: center;
        border-radius: 4px;
        @if ($col == 3) {
          background-color: $purple;
        } @else if ($col == 12 or $col == 4) {
          background-color: $light-blue;
        } @else if $col == 5 {
          background-color: $light-green;
        } @else if $col == 6 {
          background-color: $dark-blue;
        } @else if $col == 7 {
          background-color: $pink;
        } @else if $col == 8 {
          background-color: $dark-pink;
        }
      }
    }
  }
}

//12, 6, 4, 3, 5, 8, 7
