//THEME BASE STYLES
$primary-color: #58e1c1;
$text-color: #808080;
$primary-font: Helvetica Neue, Helvetica, Arial, sans-serif;
$base-padding: 15px;
$grid-gutter: 20px;

//BUTTONS COLORS
$default-color: #51ddfc;
$success-color: #63cc82;
$error-color: #e4757a;
$warning-color: #fd7856;
$info-color: #927bc1;
//THEME COLORS
$light-blue: #80e8d1;
$dark-blue: #3fabca;
$purple: #deb2ee;
$pink: #ec9fa3;
$dark-pink: #fd9f85;
$light-green: #88d9a0;
//MEDIA QUERIES
$tablet-width: 768px;
$large-tablet-width: 992px;
$desktop-width: 1200px;
$large-desktop-width: 1500px;

//GRID SYSTEM
$columns: 12;
$grid_cols: 12;
$gutter_percent: 0.5;
