.container {
  max-width: 1500px;
  width: 100%;
  padding-right: $base-padding;
  padding-left: $base-padding;
  margin-right: auto;
  margin-left: auto;
  //FLUID CONTAINER
  &--fluid {
    margin: 0;
    max-width: 100%;
  }
}

.grid__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
//MINI MIXING TO CALCULATE THE COLUMN WIDTH AUTOMATIC
@include grid__col--x;

.centered {
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .container {
    @include container-auto($tablet-width);
  }
}
@media (min-width: $large-tablet-width) {
  .container {
    @include container-auto($large-tablet-width);
  }
}
@media (min-width: $desktop-width) {
  .container {
    @include container-auto($desktop-width);
  }
}

@media (min-width: $large-desktop-width) {
  .container {
    @include container-auto($large-desktop-width);
  }
}
