nav[role="navigation"] {
  padding: 0;
  margin-bottom: 5em;
  ul.nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: $primary-font;
    .nav__item {
      text-align: center;
      color: $text-color;
      border-radius: 3px;
      padding: 0.5em;
      display: block;
      width: 100%;
      max-width: 93%;
      padding: 0.7em;
      transition-property: color, background-color;
      transition-duration: 300ms;
      transition-timing-function: ease;
      font-weight: bold;

      &:hover {
        color: #fafafa;
        background-color: $primary-color;
      }
      a {
        color: inherit;
        text-decoration: inherit;
        background: none;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  nav[role="navigation"] {
    padding-left: 7.8em;
    margin-bottom: 0;
    ul.nav {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: no-wrap;
    }
  }
}
